<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/shrtn" method="get">
      <input type="text" name="URL-input" placeholder="Enter URL here">
      <button type="submit" name="submit-url">Submit</button>
    </form>

  </body>
</html>
